@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #1f2020;
  --foreground: #fff;
  --accentOrange: #fe942d;
  --accentRed: #f53a4c;
  --accentTeal: #24f1ef;
  --accentNavy: #122c62;
  --fontOswald: "Oswald";
  --fontAlata: "Alata";
  --fontPoppins: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li,
input,
button {
  font-family: inherit;
}
p {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 140% */
}

li {
  list-style: none;
}
body {
  width: 100%;
  height: 200vh;
  color: #eee;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 25px 99px 25px 116.155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: rgba(31, 32, 32, 0.1);
  backdrop-filter: blur(100px);
  z-index: 1;
}
.nav__links--contianer {
  display: flex;
}
.nav__links,
.nav__button {
  font-family: var(--fontPoppins);
}
.nav__links {
  display: flex;
  gap: 45px;
}
.nav__link {
  cursor: pointer;
}
.nav__link a {
  color: #eee;
  text-decoration: none;
  font-weight: 400;
}
.nav__button {
  padding: 10px 45px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-image: url("./images/Hero_bg.jpg");
  background-size: cover;
  position: relative;
}

.hero__text {
  padding: 25px 99px 25px 116.155px;
}

.hero__title {
  width: 500px;
}
.hero__subtitle,
.hero__buttons {
  padding-left: 15px;
}
.hero__subtitle {
  width: 450px;
  margin-block: 10px;
  margin-top: -5px;
}
.hero__title img {
  width: 100%;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
}
.hero__button {
  width: 177px;
  height: 50px;
  padding: 16.949px 60.456px 20.051px 59.321px;
  font-family: "Alata", sans-serif;
  font-size: 21.791px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.106px; /* 55.556% */
  border-radius: 25.423px;
  background: #f53a4c;
  color: #eee;
  border: none;
  font-weight: 600;
}

.hero .hero__button:last-child {
  width: 250px;
  background-color: transparent;
  border: 1px solid #eee;
}

.linegradient--container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linegradient1,
.linegradient2,
.linegradient3,
.linegradient4 {
  height: 100%;
  stroke-width: 9.776px;
}

.linegradient1 {
  flex-basis: 40%;
  background-color: #24f1ef;
  filter: drop-shadow(0px 0px 75px rgba(36, 241, 239, 0.2));
}

.linegradient2 {
  flex-basis: 30%;
  background-color: var(--accentOrange);
  filter: drop-shadow(0px 0px 75px, var(--accentOrange));
}
.linegradient3 {
  flex-basis: 20%;
  background-color: var(--accentNavy);
}
.linegradient4 {
  flex-basis: 10%;
  background-color: var(--accentRed);
}
.crown {
  position: relative;
  padding-block: 50px;
}
.crown__content {
  width: 100%;
  padding: 25px 99px 25px 116.155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crown__gradient {
  stroke-width: 10px;
  background-color: #fe942d;
  filter: drop-shadow(0px 0px 100px rgba(254, 148, 45, 0.6));
}
.crown__image {
  position: absolute;
  left: 0;
  width: 600px;
}

.crown__content--right {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.crown__title {
  font-size: 2.5rem;
  font-family: "Alata", sans-serif;
}

.crown__subtitle {
  font-size: 14px;
  margin-block: 10px;
  font-weight: 400;
}

.crown__button {
  width: 500px;
  padding: 1rem 2rem;
  border-radius: 40px;
  color: white;
  background-color: var(--accentOrange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.crown__button span {
  width: 1rem;
}
